.pageTitle{
    text-align: center;
}

.productCatelog{
    border: 5px solid black;
    border-radius: 30px;
}

.productListing{
    margin: 25px auto;
    float: none;
    width: 300px;
    height: 380px;
    border: 5px solid black;
    border-radius: 30px;
}

.productImage{
    margin-top: 25px;
    border: 2px solid rgb(0, 68, 255);
    border-radius: 5px;
    width: 200px;
    height: 200px;
}

.cartProductImage{
    margin-top: 25px;
    border: 2px solid rgb(0, 68, 255);
    border-radius: 5px;
    width: 100px;
    height: 100px;
}

.productTitle{
    font-size: 20px;
}

.cartPage{
    text-align: center;
}

/* Table Style */
.cartTable{
    margin: 20px auto;
    border: 2px solid black;
}

td{
    vertical-align: middle;
    border: 1px solid black;   
}