.registerForm{
    margin: auto;
    text-align: center;
    width: 400px;
    height: 400px;
    background-color: #233d87;
    border: 5px solid black;
    border-radius: 30px;
}

.row{
    margin: 20px;
}
.registerBtn{
    margin: auto;
    width: 100px;
}