
.loginForm{
    margin: auto;
    text-align: center;
    width: 400px;
    height: 400px;
    background-color: #233d87;
    border: 5px solid black;
    border-radius: 30px;
}

.row{
    margin: 30px;
    /* border: 5px solid red; */
}

.loginBtn{
    margin: auto;
    width: 100px;
}