<div class="container">

    <h3 class="title" style="text-align: center;">Welcome to the exam!</h3>
 
    <!-- <input type="button" value="Load JSON Data" (click)="loadData()">
    <input type="button" value="Show JSON Data" (click)="showData()"> -->


    <div class="test">
        <div class="question_q" *ngFor="let q of this.service.questions;index as idx">
            <h3>{{q}}</h3>
            <div class="question_c form-check" *ngFor="let c of this.service.choices[idx];index as idx_c">
                <input #radio_choice type="radio" class="form-check-input" name="{{idx}}" id="radio_{{idx+idx_c}}" (click)="update_score(choice.textContent!,idx)"/>
                <label #choice class="form-check-label" for="radio_{{idx+idx_c}}">{{c}}</label>
            </div>
        </div>
    </div>
    <input type="button" value="Submit" class="btn btn-primary" (click)="score()">


</div>
<router-outlet></router-outlet>
